.Activities {
    width: auto;
    margin: 0 auto 15% auto;
    display: flex;
    flex-direction: column;
    // align-items: center;
    .Activities__title {
        margin-bottom: 10%;
        position: relative;
        font-size: 100px;
        color: transparent;
        -webkit-text-stroke: 0.1rem rgb(255, 255, 255);
        &::before {
            content: "Activities";
            position: absolute;
            left: 5px;
            top: 5px;
            -webkit-text-stroke: 0.1rem rgb(62, 255, 255);
            opacity: 0.7;
        }
        &::after {
            content: "Activities";
            position: absolute;
            left: -5px;
            top: -5px;
            -webkit-text-stroke: 0.1rem rgb(255, 94, 94);
            opacity: 0.7;
        }
    }
    .Activities__title--list {
        .Activities__title--item {
            display: flex;
            flex-direction: column;
            .Activities__title--item-name {
                font-size: 20px;
                font-weight: 900;
            }
            .Activities__title--item-detail {
                margin: 3% 0 3% 0;
                font-size: 18px;
            }
            .Activities__title--item-date {
                margin-bottom: 5%;
                text-align: right;
            }
        }
    }
}